<?xml version='1.0' encoding='utf-8'?>
<widget id="com.spellghost" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Spell Ghost</name>
    <description>
        An app designed to help with the Ghost spelling game.
    </description>
    <author email="stevenmyers32@gmail.com" href="https://github.com/StevoBurrito/SpellGhost/">
        Steven Myers
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    
    <!-- Icons -->
    <icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
</widget>
